body{
  margin: 0px;
  
}

.main{
  background: url('137806_adapted_1080x2400_1715186039.jpg');
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1.0;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px  20px  black;
  border-radius:  0px 0px 40px 40px;
}
.nav{
  background: #171717;
  box-shadow: 0px  0px 12px  #EEE5E5A3;
  border: solid 2px #FFFFFFC4;
  height:80px;
  border-radius: 20px;
  position: fixed;
  width: 95%;
  left:  calc(2.5% - 2px);
  top: 10px;
  display: flex;
  z-index: 1;
  justify-content: space-around;
}
h3{
  color: white;
}





@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 23px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: scroll;
  color: white;
  margin-top: 150px;
  word-wrap: nowrap;
  
}
.container p span.typed-text {
  font-weight: normal;
  color: #DD7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
svg{
  width: 48px;
  position: absolute;
  top: 15px;
  height: 50px;
  margin-right: -22px;
}
.svghome{
  width: 53px;
  
}

.menudiv{
  display: flex;
  justify-content: center;
}

#divmen{
  background: white;
  position: fixed;
  top: 130px;
  width: 260px;
  height: 320px;
  border: solid 4px  #CBCDD72E;
  box-shadow:  0px 0px 9px #07080B70;
  border-radius: 30px;
  border: solid 3px #35363929;
  margin: auto;
  display: none;
  margin-right: 10px;
  z-index: 1;
}
.trxttime{
  color: whitesmoke;
}

#timeinner{
  color: #FF0808;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkorange;
  font-weight: 500;
  font-style: normal;
  margin-top: -20px;
  font-size: 21px;
  text-shadow: 1.8px 1.8px 2px #07080B;
}

p.aboutte{
  text-align: left;
  position: relative;
  top: -5px;
  padding: 5px;
  color: black;
  margin-left: 10px;
}


#darkModeToggle{
width: 87px;
height: 24px;
background: black;
border: solid 2px black;
border-radius: 6px 6px 6px 6px;
color: white;
  margin-top: 15px;
  margin-left: 10px;
}
.flexbutton{
  display: flex;
  justify-content: left;
}

p::selection{
  background: darkorange;
  color: black;
}
h3::selection{
  background: black;
  color: white;
  
}
.dark-mode{
  background: #1E1E1E;
  
}

.account{
  display: flex;
  justify-content: center;
  background: white;
}


.divacciunt{
  background: #CDCDCD; border-radius: 30px 30px 29px 29px; width: 100%; height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  z-index: 1;
}

.divacciunt{
  background: #EFEFEF; border-radius: 30px 30px 29px 29px; width: 100%; height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 2px;
}
.divacciunt:hover{
background: #BDBDBD ;
}




.iconaccount1{
  margin-top: -9px;
  margin-right: 6px;
  fill: black;
}


#divbodyac{
  z-index: 1;
  background: #222222;
  position: fixed;
  width: 85%;
  left: 7.5%;
  top: 140px;
  height: 400px;
  border-radius: 30px;
  display: none;
}

.textinp{
  width: 90%;
  margin:10px;
  height: 29px;
  margin-top: 1px;
  outline-color: #000000;
  outline-width: .5px;
  box-shadow: 0px 0px 4px #000000AD;
  border: 0px solid ;
  border-radius: 4px;
  background: #333333;
}

.inpbas{
  margin-top: 10px;
  width: 90%;
  margin:10px;
  margin-top: 1px;
  height: 29px;
  outline-color: #000000;
  outline-width: .5px;
  box-shadow: 0px 0px 4px #000000AD;
  border: 0px solid ;
  border-radius: 4px;
  background: #333333;
}




#thank{
  width: 60%;
  position: absolute;
  top: 130px;
  left: 20%;
  background: white;
  border-radius: 20px;
  display: none;
}




.textinp::placeholder{
  text-align: left;
  margin-left: 10px;
}
.inpbas::placeholder{
  text-align: left;
  margin-left: 10px;
}

.iconyes{
  width: 115px;
  margin-top: -20px;
}



.divinfo1{
  width: 90%;
  margin: auto;
  height: 100px;
  background: #01163F;
  border-radius: 14px;
  position: relative;
  top: -26px;
  left: -3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inleineflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.divinfo12{
  width: 43.5%;
  background: #01163F;
  margin-left: 6px;
  margin-right: 6px;
  height: 150px;
 margin-left: 4px;
 border-bottom: solid 6px #19BFC9;
 border-radius: 7px 7px 7px 7px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#ioser{
border-bottom: solid 6px #F0A732;
}


.whatsappicons{
  
  background-image: url('137806_adapted_1080x2400_1715186039.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.divsocial{
  display: flex;
  background: rgba(38, 38, 38, 1);
  border-radius: 15px 15px 0px 0px;
  justify-content: space-around;
  margin-top: 50px;
}
.link {
            text-decoration: none;
            color: #b7b7b7;
            margin: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(72, 72, 72, 1);
            border-radius: 25px;
            position: relative;
            transition: 0.4s;
            
        }
        .link:hover {
            transform: rotate(45deg);
        }
        .link::before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: #373737;
            border-radius: 10px;
            transition: opasity 0.2s;
        }
        .link:hover::before {
            opacity: 0.4;
        }
        .link:nth-child(1)::before {
            background: #c32aa3;
        }
        .link:nth-child(2)::before {
            background: #1da1f2;
        }
        .link:nth-child(3)::before {
            background: #25d366;
        }
        .link:nth-child(4)::before {
            background: #0a66c2;
        }
        .link:hover::before {
            transform: translate(-4px, -4px);
            filter: blur(10px);
        }
        .link i {
            font-size: 1.7em;
            transition: all 0.4s;
        }
        .link:hover i {
            color: #c8c8c8;
          transform: rotate(-45deg);
        }
        .link:hover i.instagram {
            color: #c32aa3;
        }
        .link:hover i.twitter {
            color: #1da1f2;
        }
        .link:hover i.whatsapp {
            color: #25d366;
        }
        .link:hover i.linkedin {
            color: #0a66ca;
        }













#whatsappsvg{
  
  background-image: url('https://e7.pngegg.com/pngimages/347/373/png-clipart-computer-icons-whatsapp-whatsapp-text-trademark-thumbnail.png');
background-size: cover;
}

#facebookicon{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnbSCHy2sEbTmof0zwLpCdIMRxgGRs35nSQw&usqp=CAU');
background-size: cover;
}



#instgramicon{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUpo0VlRihPwPXz9lMx6kbTt9-fR85sGKDTQ&usqp=CAU');
background-size: cover;
}




















/* youtube link */
.youtube{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}











@media only screen and (min-width: 650px) {
  #timeinner{
  color: #FF0808;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkorange;
  font-weight: 500;
  font-size: 27px;
  font-style: normal;
}

  .main{
  background-image: url('900560_adapted_1080x2400_1715186140.jpg');
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1.0;
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px  20px  black;
  border-radius:  0px 0px 40px 40px;
}

#divmen{
  background: white;
  position: absolute;
  top: 160px;
  width: 260px;
  height: 320px;
  border: solid 4px  #CBCDD72E;
  box-shadow:  0px 0px 9px ;
  border-radius: 35px;
  border: solid 3px #35363929;
  margin: auto;
  display: none;
  margin-right: 50px;
}
.container p {
  font-size: 33px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: scroll;
  color: white;
  margin-top: 150px;
  word-wrap: nowrap;
  
}
.nav{
  background: #171717;
  box-shadow: 0px  0px 12px  #EEE5E5A3;
  border: solid 2px #FFFFFFC4;
  height:80px;
  border-radius: 20px;
  position: fixed;
  width: 50%;
  left:  calc(25% - 2px);
  top: 50px;
  display: flex;
  
  justify-content: space-around;
}

}
